#cortina1{
    background-image: url("../img/imagen1.PNG");
    padding: 70% 5% 0 5%;
    position:relative;
    z-index:1; 
    background-size: cover;
}

#cortina1::after{
    content: '';
    position:absolute;
    background-color: black;
    bottom:0px;
    left:0px;
    opacity:0.55;
    z-index:-1;
    height: 30%;
    width: 100%;
}

#cortina2{
    background-image: url("../img/imagen2.PNG");
    padding: 70% 5% 0 5%;
    position:relative;
    z-index:1; 
    background-size: cover;
}

#cortina2::after{
    content: '';
    position:absolute;
    background-color: black;
    bottom:0px;
    left:0px;
    opacity:0.55;
    z-index:-1;
    height: 30%;
    width: 100%;
}

#cortina3{
    background-image: url("../img/imagen3.PNG");
    padding: 70% 5% 0 5%;
    position:relative;
    z-index:1; 
    background-size: cover;
}

#cortina3::after{
    content: '';
    position:absolute;
    background-color: black;
    bottom:0px;
    left:0px;
    opacity:0.55;
    z-index:-1;
    height: 30%;
    width: 100%;
}




#banner{

    background-image: url("../img/tienda.jpg");
    background-size: cover;
    padding: 20% 2%;
    position:relative;
    z-index:1;
    background-attachment: fixed;
}

#banner::after{
    content: '';
    position:absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    opacity:0.55;
    z-index:-1; 
}

#banner h1{
    color:white;
    position:relative;
    font-size:4rem;
}

.bg-dark{
    background-color:transparent !important;
}



.fuente{
    font-family: 'Tangerine', cursive;
    font-size:3.5rem;
}

.fuente2{
    font-family: 'Tangerine', cursive;
    font-size:2.5rem;
}






.zoom{
    overflow: hidden;
}

.zoom img{
    transition: 0.5s ease;
}

.zoom:hover img{
    transform: scale(1.5);
}

.descripcion{
    font-family: 'Titillium Web', sans-serif;
    font-size:1.2rem;
}

.fondoIcono{
    color:black;
}

.fondo2{
    background-color: #3D3F40;
}

.fondo3{
    background-color: #11462C;
}
